@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  overflow-x: hidden;

}

*:focus {
  outline: 0 !important;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
